body {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

p {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.container {
    background-color: #ffe4e1;
    min-height: 100vh;
    padding: 10px; /* Reduzir o padding pode trazer o conteúdo mais para o centro */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.header {
    font-family: 'Playfair Display', serif;
    color: #ff69b4;
    margin-top: 50px;
    margin-bottom: 50px; /* Reduzir a margem inferior pode aproximar o cabeçalho dos campos de entrada */
    text-align: center;
}

.input {
    padding: 10px;
    border: 2px solid #ff69b4;
    border-radius: 5px;
    margin-bottom: 30px; /* Aumentar a margem inferior pode afastar o .input do .button */
    width: 50%; 
    text-align: center;
}

.input:focus {
    outline: none; /* Remove o contorno padrão que os navegadores aplicam ao focar */
    border: 2px solid #ff82ab; /* Muda a cor da borda para uma variação mais clara do rosa */
    box-shadow: 0 0 10px 2px #ff82ab; /* Adiciona um glow ao redor do campo */
    transition: box-shadow 0.3s ease-in-out; /* Adiciona uma transição suave ao glow */
}

.lastInput {
    margin-bottom: 40px; /* Margem maior para o último input */
}

.button {
    padding: 10px 20px;
    width: 56%;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    background-color: #ff69b4;
}

.button:hover {
    background-color: #ff82ab;
}

.button:last-child {
    margin-bottom: 0;
}

.resultado {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #f0f0f0;
    padding: 10px 10px 25px 10px; /* Adicionado 20px de padding na parte inferior */
    border-radius: 5px;
    margin-top: 35px;
    flex-direction: column;
}

.resultado p {
    font-size: 14px;
    color: #ff82ab;
    line-height: 1;
}

.resultado p:last-child {
    margin-bottom: 0;
}